* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Prompt, sans-serif;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 465px) {
  html {
    font-size: 14px;
  }
}

body {
  background: #e9eff2;
}

.container {
  max-width: 1090px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.page-title {
  font-weight: 600;
  font-size: 2rem;
  color: #3461fd;
}

.page-desc {
  font-weight: 400;
  font-size: 1rem;
  color: #404040;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  position: relative;
  gap: 0.5rem;
}

.form input:not(.btn) {
  width: 100%;
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #f9fbfc;
  background: #f9fbfc;
  border-radius: 0.5rem;
  transition: all 0.25s ease 0s;
  color: #212325;
  margin-bottom: 8px;
}

.form input:focus:not(.btn) {
  border-color: #3461fd;
  box-shadow: 0 0 0 3px #3461fd80;
}

.btn {
  width: 100%;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: 1px solid #3461fd;
  background-color: #3461fd;
  border-radius: 0.5rem;
  transition: all 0.25s ease 0s;
  color: #e9eff2;
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px #3461fd40;
  outline: none;
  border: none;
}

.btn:hover,
.btn:focus {
  background: #3461fddd;
  border-color: #3461fddd;
  box-shadow: 0px 3px 5px 0px #3461fd40, 0 0 0 3px #3461fd80;
}

.error-text {
  color: red;
}
